In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql, drop_table_name=None):
    
    if drop_table_name: # You can optionally pass drop_table_name to drop the table. 
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)
    
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [2]:
filename = 'data.csv'
d_list = []
with open(filename) as file:
    for line in file:
        data= line.strip().split('\t')
        d_list += [data]
header = d_list[0]

h_dict = {}
for i in range(len(header)):
    h_dict[header[i]] = i
d_list = d_list[1:]

def col(j):
    column = []
    for i in range(len(d_list)):
        column.append(d_list[i][j])
    return column

In [4]:
header

['Name',
 'Address',
 'City',
 'Country',
 'Region',
 'ProductName',
 'ProductCategory',
 'ProductCategoryDescription',
 'ProductUnitPrice',
 'QuantityOrderded',
 'OrderDate']

In [3]:
def step1_create_region_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
# WRITE YOUR CODE HERE
    try:
      conn.close()
    except:
      pass
    unique_r = []
    
    index = 0
    index_list = []
    
    #index for region table
    r = h_dict['Region']
    
    #region column
    r_list = col(r)
    
    
    for i in r_list:
        if i not in unique_r:
            index += 1
            unique_r.append(i)
            #list of index
            index_list += [index]
    
    unique_r.sort()
    region = []
    for i in range(len(index_list)):
        region.append((index_list[i], unique_r[i]))
    create_table_sql = """CREATE TABLE IF NOT EXISTS [Region] ([RegionID] INTEGER NOT NULL PRIMARY KEY,[Region] TEXT NOT NULL );
    """
    conn = create_connection(normalized_database_filename, True)
    create_table(conn, create_table_sql,drop_table_name = 'Region')

    
    with conn:
        sql = '''INSERT INTO Region (RegionID, Region) VALUES(?, ?)''' 
        cur = conn.cursor()
        cur.executemany(sql, region)

    conn.close()

def step2_create_region_to_regionid_dictionary(normalized_database_filename):
    pass
    conn = create_connection(normalized_database_filename)
    sql_statement = "SELECT RegionID, Region FROM Region"
    region = execute_sql_statement(sql_statement,conn)
    r_dict = {}
    for i in region:
        r_dict[i[1]] = i[0]
    return r_dict
    conn.close()
    
# WRITE YOUR CODE HERE

In [4]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step1_create_region_table(data_filename, normalized_database_filename)
data = pd.read_csv("step1.csv")
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM Region""", conn)
print(df)
conn.close()

   RegionID           Region
0         1    British Isles
1         2  Central America
2         3   Eastern Europe
3         4    North America
4         5  Northern Europe
5         6      Scandinavia
6         7    South America
7         8  Southern Europe
8         9   Western Europe

In [13]:
def step3_create_country_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
    pass
# WRITE YOUR CODE HERE

    conn = create_connection(normalized_database_filename)
    create_table_sql = """CREATE TABLE IF NOT EXISTS [Country] (
        [CountryID] INTEGER NOT NULL PRIMARY KEY,
        [Country] TEXT NOT NULL,
        [RegionID] INTEGER NOT NULL,
        FOREIGN KEY(RegionID) REFERENCES Region(RegionID)
    );
    """
    create_table(conn, create_table_sql,drop_table_name='Country')
    
    header_c = h_dict['Country']
    header_r = h_dict['Region']
    r_dict = step2_create_region_to_regionid_dictionary(normalized_database_filename)
    r_c = []
    for i in range(len(d_list)):
        c = (col(header_c))[i]
        r = (col(header_r))[i]
        r_id = r_dict[r]
        if (c,r_id) not in r_c:
            r_c.append((c,r_id))
    r_c = (sorted(r_c, key=lambda x: x[0]))
    op = []
    y = 0
    for i in r_c:
        y+=1
        i = (y,) + i
        op += [i]

    with conn:
        sql = ''' INSERT INTO Country (CountryID,Country, RegionID) VALUES(?, ?, ?) '''
        cur = conn.cursor()
        cur.executemany(sql,op)
    
    conn.close()    

def step4_create_country_to_countryid_dictionary(normalized_database_filename):
    pass
    conn = create_connection(normalized_database_filename)
    sql_statement = "SELECT CountryID, Country FROM Country"
    country = execute_sql_statement(sql_statement,conn)
    c_dict = {}
    for i in country:
        c_dict[i[1]] = i[0]
    return c_dict
    conn.close()    
# WRITE YOUR CODE HERE

In [14]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step3_create_country_table(data_filename, normalized_database_filename)
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM Country""", conn)
print(df)

    CountryID      Country  RegionID
0           1    Argentina         7
1           2      Austria         9
2           3      Belgium         9
3           4       Brazil         7
4           5       Canada         4
5           6      Denmark         5
6           7      Finland         6
7           8       France         9
8           9      Germany         9
9          10      Ireland         1
10         11        Italy         8
11         12       Mexico         2
12         13       Norway         6
13         14       Poland         3
14         15     Portugal         8
15         16        Spain         8
16         17       Sweden         5
17         18  Switzerland         9
18         19           UK         1
19         20          USA         4
20         21    Venezuela         7

In [30]:
def f_name(full_name):
        first = full_name.split(' ',1)[0]
        return first
    
def l_name(full_name):
        last = full_name.split(' ',1)[1]
        return last

def step5_create_customer_table(data_filename, normalized_database_filename):
    pass
# WRITE YOUR CODE HERE
    
    try:
      conn.close()
    except:
      pass 
    n_list = col(h_dict['Name'])
    c_list = col(h_dict['City'])
    country_list = col(h_dict['Country'])
    a_list = col(h_dict['Address'])

    customer = []
    country_dict = step4_create_country_to_countryid_dictionary(normalized_database_filename)
    for i in range(len(d_list)):
        c = (f_name(n_list[i]),)
        c += (l_name(n_list[i]),)
        c += (a_list[i],)
        c += (c_list[i],)
        c += (country_dict[country_list[i]],)
        customer += [c]

    customer = sorted(customer, key=lambda x: x[0])

    op = []
    y = 0
    for i in customer:
        y+=1
        i = (y,) + i
        op.append(i)

    create_table_sql = """CREATE TABLE [Customer] (
        [CustomerID] INTEGER NOUT NULL PRIMARY KEY,
        [FirstName] TEXT NOT NULL,
        [LastName] TEXT NOT NULL,
        [Address] TEXT NOT NULL,
        [City] TEXT NOT NULL,
        [CountryID] INTEGER NOT NULL,
        FOREIGN KEY(CountryID) REFERENCES Country(CountryID)
    );
    """
    conn = create_connection(normalized_database_filename)
    create_table(conn, create_table_sql, drop_table_name='Customer')


    with conn:
        sql = ''' INSERT INTO Customer (CustomerID, FirstName, LastName, Address, City, CountryID) VALUES(?, ?, ?, ?, ?, ?) '''
        cur = conn.cursor()
        cur.executemany(sql,op)

    conn.close()


def step6_create_customer_to_customerid_dictionary(normalized_database_filename):
    pass
    conn = create_connection(normalized_database_filename)
    sql_statement = "SELECT CustomerID, FirstName || ' ' || Lastname AS NAME FROM Customer"
    customer = execute_sql_statement(sql_statement,conn)
    c_dict = {}
    for i in customer:
        c_dict[i[1]] = i[0]
    return c_dict
    conn.close()   
    
# WRITE YOUR CODE HERE

In [31]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step5_create_customer_table(data_filename, normalized_database_filename)
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM Customer""", conn)
print(df)

    CustomerID  FirstName         LastName  \
0            1  Alejandra           Camino
1            2  Alexander            Feuer
2            3        Ana         Trujillo
3            4    Anabela        Domingues
4            5      Andre          Fonseca
..         ...        ...              ...
86          87       Yang             Wang
87          88      Yoshi          Latimer
88          89      Yoshi        Tannamuri
89          90     Yvonne          Moncada
90          91    Zbyszek  Piestrzeniewicz

                                Address          City  CountryID
0                           Gran Via, 1        Madrid         16
1                           Heerstr. 22       Leipzig          9
2         Avda. de la Constitucion 2222   Mexico D.F.         12
3               Av. Ines de Castro, 414     Sao Paulo          4
4                       Av. Brasil, 442      Campinas          4
..                                  ...           ...        ...
86                         Hauptstr. 29          Bern         18
87       City Center Plaza 516 Main St.         Elgin         20
88                         1900 Oak St.     Vancouver          5
89  Ing. Gustavo Moncada 8585 Piso 20-A  Buenos Aires          1
90                      ul. Filtrowa 68      Warszawa         14

[91 rows x 6 columns]

In [55]:
pc_list = col(h_dict['ProductCategory'])
print(len(pc_list))
print(len(d_list))

91
91

In [60]:
pc = []
pc_list = col(h_dict['ProductCategory'])
pc_description_list = col(h_dict['ProductCategoryDescription'])
for i in range(len(d_list)):
    sample = (pc_list[i]).split(';')
    for j in sample:
        if j not in pc:
            pc += [j]
print(pc)

['Confections', 'Beverages', 'Seafood', 'Grains/Cereals', 'Meat/Poultry', 'Dairy Products', 'Condiments', 'Produce']

In [67]:
def step7_create_productcategory_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
    pass

    pc = []
    pc_list = col(h_dict['ProductCategory'])
    pc_description_list = col(h_dict['ProductCategoryDescription'])
    for i in range(len(d_list)):
        pc_list_split = (pc_list[i]).split(';')
        for j in pc_list_split:
            if j not in pc:
                pc.append(j)
    pc_description = []
    for i in range(len(pc_description_list)):
        pc_description_list_split = (pc_description_list[i]).split(';')
        for j in pc_description_list_split:
            if j not in pc_description:
                pc_description.append(j)
    pc_unique = []
    for i in range(len(pc)):
        sample = ()
        sample = sample + (pc[i],)
        sample = sample + (pc_description[i],)
        pc_unique.append(sample)
        
    pc_unique = (sorted(pc_unique, key=lambda x: x[0]))
    op = []
    j = 0
    for i in pc_unique:
        j += 1
        i = (j,) + i
        op += [i]
        
    create_table_sql = """CREATE TABLE [ProductCategory] ([ProductCategoryID] INTEGER NOT NULL PRIMARY KEY, 
    [ProductCategory] TEXT NOT NULL, [ProductCategoryDescription] TEXT NOT NULL);
    """
    conn = create_connection(normalized_database_filename)
    create_table(conn, create_table_sql, drop_table_name='ProductCategory')


    with conn:
        sql = '''INSERT INTO ProductCategory (ProductCategoryID, ProductCategory,ProductCategoryDescription) VALUES(?, ?, ?)'''
        cur = conn.cursor()
        cur.executemany(sql, op)

    conn.close()
# WRITE YOUR CODE HERE

def step8_create_productcategory_to_productcategoryid_dictionary(normalized_database_filename):
    pass
    conn = create_connection(normalized_database_filename)
    sql_statement = "SELECT ProductCategoryID, ProductCategory FROM ProductCategory"
    pc = execute_sql_statement(sql_statement,conn)
    pc_dict = {}
    for i in pc:
        pc_dict[i[1]] = i[0]
    return pc_dict
    conn.close()    
# WRITE YOUR CODE HERE

In [69]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step7_create_productcategory_table(data_filename, normalized_database_filename)
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM ProductCategory""", conn)
print(df)

   ProductCategoryID ProductCategory  \
0                  1       Beverages
1                  2      Condiments
2                  3     Confections
3                  4  Dairy Products
4                  5  Grains/Cereals
5                  6    Meat/Poultry
6                  7         Produce
7                  8         Seafood

                          ProductCategoryDescription
0        Soft drinks, coffees, teas, beers, and ales
1  Sweet and savory sauces, relishes, spreads, an...
2                Desserts, candies, and sweet breads
3                                            Cheeses
4                Breads, crackers, pasta, and cereal
5                                     Prepared meats
6                          Dried fruit and bean curd
7                                   Seaweed and fish

In [80]:
def step9_create_product_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
    pass

    pn = col(h_dict['ProductName'])
    pu = col(h_dict['ProductUnitPrice'])
    pc = col(h_dict['ProductCategory'])
    product = []
    product_map = step8_create_productcategory_to_productcategoryid_dictionary(normalized_database_filename)
    for i in range(len(d_list)):
        pn_list = (pn[i]).split(';')
        pp_list = (pu[i]).split(';')
        pc_list = (pc[i]).split(';')
        for j in range(len(pn_list)):
            if (pn_list[j],float(pp_list[j]),product_map[pc_list[j]]) not in product:
                product.append((pn_list[j],float(pp_list[j]),product_map[pc_list[j]]))
    product = (sorted(product, key=lambda x: x[0]))
    op = []
    j = 0
    for i in product:
        j += 1
        i = (j,) + i
        op.append(i)
    create_table_sql = """CREATE TABLE [Product] (
        [ProductID] INTEGER NOT NULL PRIMARY KEY,
        [ProductName] TEXT NOT NULL,
        [ProductUnitPrice] REAL NOT NULL,
        [ProductCategoryID] INTEGER NOT NULL,
        FOREIGN KEY(ProductCategoryID) REFERENCES ProductCategory(ProductCategoryID)
    );
    """
    conn = create_connection('sample.db')
    create_table(conn, create_table_sql, drop_table_name='Product')

    with conn:
        sql = ''' INSERT INTO Product (ProductID, ProductName, ProductUnitPrice, ProductCategoryID) VALUES(?, ?, ?, ?) '''
        cur = conn.cursor()
        cur.executemany(sql,op)
  
    conn.close()

# WRITE YOUR CODE HERE


def step10_create_product_to_productid_dictionary(normalized_database_filename):
    pass
    conn = create_connection(normalized_database_filename)
    sql_statement = "SELECT ProductID, ProductName FROM Product"
    product = execute_sql_statement(sql_statement,conn)
    p_dict = {}
    for i in product:
        p_dict[i[1]] = i[0]
    return p_dict
    conn.close()        
# WRITE YOUR CODE HERE

In [81]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step9_create_product_table(data_filename, normalized_database_filename)
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM Product""", conn)
print(df)

    ProductID                      ProductName  ProductUnitPrice  \
0           1                     Alice Mutton             39.00
1           2                    Aniseed Syrup             10.00
2           3                 Boston Crab Meat             18.40
3           4                Camembert Pierrot             34.00
4           5                 Carnarvon Tigers             62.50
..        ...                              ...               ...
72         73  Uncle Bob's Organic Dried Pears             30.00
73         74                 Valkoinen suklaa             16.25
74         75                     Vegie-spread             43.90
75         76        Wimmers gute Semmelknodel             33.25
76         77                    Zaanse koeken              9.50

    ProductCategoryID
0                   6
1                   2
2                   8
3                   4
4                   8
..                ...
72                  7
73                  3
74                  2
75                  5
76                  3

[77 rows x 4 columns]

In [90]:
k = h_dict['OrderDate']
orderdate = col(k)

for i in range(len(d_list)):
    date_list = orderdate[i].split(';')
print(date_list[-1])

2012112

In [91]:
import datetime as dt
from datetime import datetime

def step11_create_orderdetail_table(data_filename, normalized_database_filename):
    # Inputs: Name of the data and normalized database filename
    # Output: None
    pass
    k = h_dict['OrderDate']
    orderdate = col(k)
    customer = step6_create_customer_to_customerid_dictionary(normalized_database_filename) 
    product = step10_create_product_to_productid_dictionary(normalized_database_filename)
    n = 0
    order_list = []
    pn = col(h_dict['ProductName'])
    quantity = col(h_dict['QuantityOrderded'])
    name = col(h_dict['Name'])
    op = []
    for i in range(len(d_list)):
        p_list = pn[i].split(';')
        date_list = orderdate[i].split(';')
        q_list = quantity[i].split(';')
        for j in range(len(p_list)):
            n += 1
            sample = (n,)
            sample += (customer[name[i]],)
            sample += (product[p_list[j]],)
            sample += (datetime.strptime(date_list[j], '%Y%m%d').strftime('%Y-%m-%d'),)
            sample += (int(q_list[j]),)
            op.append(sample)
    create_table_sql = """CREATE TABLE [OrderDetail] (
        [OrderID] INTEGER NOT NULL PRIMARY KEY, [CustomerID] INTEGER NOT NULL,[ProductID] INTEGER NOT NULL,
        [OrderDate] TEXT NOT NULL, [QuantityOrdered] INTEGER NOT NULL, FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
        FOREIGN KEY(ProductID) REFERENCES Product(ProductID));
    """
    conn = create_connection(normalized_database_filename)
    create_table(conn, create_table_sql, drop_table_name='OrderDetail')
    

    with conn:
        sql = ''' INSERT INTO OrderDetail (OrderID, CustomerID, ProductID, OrderDate, QuantityOrdered) VALUES(?, ?, ?, ?, ?) '''
        cur = conn.cursor()
        cur.executemany(sql, op)

    conn.close()

In [ ]:
data_filename = 'data.csv'
normalized_database_filename = 'sample.db'
step11_create_orderdetail_table(data_filename, normalized_database_filename)
conn = sqlite3.connect(normalized_database_filename)
df = pd.read_sql_query("""SELECT * FROM OrderDetail LIMIT 10""", conn)
print(df)